<div class="ni_block_children" data-neo-b="{{ block.id }}.container.children">
    <div class="ni_blocks" data-neo-b="{{ block.id }}.container.blocks">
        {% if block and block.id %}
            {% for child in block.children.all() %}
                {% include 'neo/block' with { block: child, static } only %}
            {% endfor %}
        {% endif %}
    </div>

    {% if not static %}
        <div data-neo-b="{{ block.id }}.container.buttons" class="hidden"></div>
        <div data-neo-b="{{ block.id }}.container.childrenWarnings" class="hidden">
            <p class="first warning with-icon">{{ "This Neo field's maximum number of levels has been reached, so no child blocks can be added here."|t('neo') }}</p>
        </div>
    {% endif %}
</div>
