<div class="neoconfigitem nci-blocktype{{ errors|length > 0 ? ' error' : '' }}">
	<div class="name" data-neo="text.name">{{ name }}</div>
	<div class="handle code" data-neo="text.handle">{{ handle }}</div>
	<div class="actions">
		<a class="move icon" title="{{ 'Reorder'|t }}" role="button" data-neo="button.move"></a>
		<a class="settings icon{{ errors|length > 0 ? ' error' : '' }}" title="{{ 'Settings'|t }}" role="button" data-neo="button.settings"></a>
	</div>
	<input class="hidden" name="blockTypes[{{ id }}][name]" value="{{ name }}" data-neo="input.name">
	<input class="hidden" name="blockTypes[{{ id }}][handle]" value="{{ handle }}" data-neo="input.handle">
</div>
