<div class="nc_sidebar" data-neo="container.sidebar">
	<div class="nc_sidebar_title">{{ "Block Types"|t }}</div>
	<div class="nc_sidebar_list" data-neo="container.blockTypes"></div>
	<div class="nc_sidebar_buttons btngroup">
		<a class="btn add icon" role="button" data-neo="button.blockType">{{ "Block type"|t }}</a>
		<a class="btn type-heading" role="button" data-neo="button.group">{{ "Group"|t }}</a>
	</div>
</div>

<div class="nc_main" data-neo="container.main">
	<div class="nc_main_tabs">
		<a class="nc_main_tabs_tab is-selected" role="button" data-neo="button.settings">{{ "Settings"|t }}</a>
		<a class="nc_main_tabs_tab" role="button" data-neo="button.fieldLayout">{{ "Field Layout"|t }}</a>
	</div>
	<div class="nc_main_content" data-neo="container.settings"></div>
	<div class="nc_main_content" data-neo="container.fieldLayout"></div>
</div>
