<div>
	<input type="checkbox" value="{{ value }}" id="{{ id|ns('id') }}" class="checkbox" name="{{ name|ns }}[]">
	<label for="{{ id|ns('id') }}" data-neo-btsc="text.label">{{ label }}</label>
</div>
