{% import '../../macros.twig' as macros %}

<div>
	<input type="hidden" name="{{ 'sortOrder'|ns }}" value="{{ sortOrder }}" data-neo-bts="input.sortOrder">

	<div>
		{{ macros.input({
			type: 'text',
			name: 'name'|ns,
			label: "Name"|t,
			instructions: "What this block type will be called in the CP."|t,
			required: true,
			value: name,
			errors: errors.name,
			attributes: {
				'data-neo-bts': 'input.name'
			}
		}) }}

		{{ macros.input({
			type: 'text',
			name: 'handle'|ns,
			label: "Handle"|t,
			instructions: "How you'll refer to this block type in the templates."|t,
			required: true,
			class: 'code',
			value: handle,
			errors: errors.handle,
			attributes: {
				'data-neo-bts': 'input.handle'
			}
		}) }}

		{{ macros.input({
			type: 'number',
			name: 'maxBlocks'|ns,
			label: "Max Blocks"|t,
			instructions: "The maximum number of blocks of this type the field is allowed to have."|t,
			fullWidth: false,
			value: maxBlocks > 0 ? maxBlocks : null,
			errors: errors.maxBlocks,
			attributes: {
				min: 0,
				style: 'width: 80px;',
				'data-neo-bts': 'input.maxBlocks'
			}
		}) }}
	</div>

	<hr>

	<a class="error delete" data-neo-bts="button.delete">{{ "Delete block type"|t }}</a>
</div>
