<div class="ni_block">
	<div class="ni_block_topbar">
		<div class="ni_block_topbar_item">
			<div class="checkbox" title="{{ "Select"|t }}" data-neo-b="select"></div>
		</div>
		<div class="ni_block_topbar_item">
			<strong>{{ type.getName()|t }}</strong>
		</div>
		<div class="ni_block_topbar_item size-full">
			<span data-neo-b="text.content"></span>
		</div>
		<div class="ni_block_topbar_item">
			<div class="status hidden" title="{{ "Disabled"|t }}" data-neo-b="status"></div>
		</div>
		<div class="ni_block_topbar_item">
			<a class="settings icon menubtn" title="{{ "Actions"|t }}" role="button" data-neo-b="button.actions"></a>
		</div>
		<div class="ni_block_topbar_item">
			<a class="move icon" title="{{ "Reorder"|t }}" role="button" data-neo-b="button.move"></a>
		</div>
	</div>
	<div class="ni_block_content" data-neo-b="container.content"></div>
</div>
