<div class="ni_block">
	<input type="hidden" name="{{ 'type'|ns }}" value="{{ type.getHandle() }}">
	<input type="hidden" name="{{ 'enabled'|ns }}" value="{{ enabled ? 1 : 0 }}" data-neo-b="input.enabled">
	<input type="hidden" name="{{ 'collapsed'|ns }}" value="{{ collapsed ? 1 : 0 }}" data-neo-b="input.collapsed">
	<div class="ni_block_topbar">
		<div class="ni_block_topbar_item" data-neo-b="select">
			<div class="checkbox" title="{{ "Select"|t }}"></div>
		</div>
		<div class="ni_block_topbar_item" data-neo-b="button.toggler">
			<span>{{ type.getName()|t }}</span>
		</div>
		<div class="ni_block_topbar_item size-full" data-neo-b="button.toggler">
			<span data-neo-b="text.content"></span>
		</div>
		<div class="ni_block_topbar_item tabs">
			{% for tab in type.getTabs() %}
				<a class="tab {{ loop.first ? 'is-selected' : '' }}"
				   data-neo-b="button.tab"
				   data-neo-b-info="{{ tab.name }}">
					{{ tab.name|t }}
				</a>
			{% endfor %}
		</div>
		<div class="ni_block_topbar_item hidden" data-neo-b="status">
			<div class="status off" title="{{ "Disabled"|t }}"></div>
		</div>
		<div class="ni_block_topbar_item">
			<a class="settings icon menubtn" title="{{ "Actions"|t }}" role="button" data-neo-b="button.actions"></a>
			<div class="menu" data-neo-b="container.menu">
				<ul class="padded">
					<li><a data-icon="collapse" data-action="collapse">{{ "Collapse"|t }}</a></li>
					<li class="hidden"><a data-icon="expand" data-action="expand">{{ "Expand"|t }}</a></li>
					<li><a data-icon="disabled" data-action="disable">{{ "Disable"|t }}</a></li>
					<li class="hidden"><a data-icon="enabled" data-action="enable">{{ "Enable"|t }}</a></li>
				</ul>
				<hr class="padded">
				<ul class="padded">
					<li><a data-icon="remove" data-action="delete">{{ "Delete"|t }}</a></li>
				</ul>
			</div>
		</div>
		<div class="ni_block_topbar_item">
			<a class="move icon" title="{{ "Reorder"|t }}" role="button" data-neo-b="button.move"></a>
		</div>
	</div>
	<div class="ni_block_content" data-neo-b="container.content">
		{% for tab in type.getTabs() %}
			<div class="ni_block_content_tab {{ loop.first ? 'is-selected' : '' }}"
				 data-neo-b="container.tab"
				 data-neo-b-info="{{ tab.name }}">
				{{ tab.getBodyHtml(id) }}
			</div>
		{% endfor %}
	</div>
</div>
